<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
</head>
<body>
    <header class="page-header">
        <a href="/" class="page-header__logo" title="Go Home">
            <img src="/assets/avatar.png" alt="50" width="50">
            <text alt = "Home">
        </a>
        <nav>
            <a href="/aboutme">About The Author</a>
            <a href="/characters">Characters</a>
            <a href="/content">Content Page</a>
            <a href="/wiki">Wiki</a>
        </nav>
    </header>
    <main>
        {{content}}
    </main>

    <img src="/assets/background.png"; background position center>
    
  </article>
  {% include 'backlinks.html' %}

    <footer class="page-footer">
        <small>by {{site.author}}</small>
    </footer>
</body>
</html>
