<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
</head>

    <img src="/assets/background banner.png"; background position center>

    <header class="page-header" alt="100">
      {{}}
        <a href="/" class="page-header__logo" title="Go Home">
            <img src="/assets/avatar.png" alt="Home" width="50">
        <a href="javascript:history.back()">
            <img src="/assets/return.png" alt="Back" width="50">
        </a>
        <nav>
            <a href="/characters">Characters</a>
            <a href="/content">Content Page</a>
            <a href="/downloads">Downloads</a>
            <a href="/plot">Plot Summary</a>
            <a href="/wiki">Wiki</a>
        </nav>
    </header>
    <main>
        {{content}}
        <img src="/assets/background.png"; width="100%"; background position centered>
    </main>
  </article>
    {% include 'backlinks.html' %}

    <footer class="page-footer">
        <small>by {{
          site.title
          site.author}}
        </small>
    </footer>
</body>
</html>
